body {
    background-color: #121212;
    color: #f1f1f1;
    font-family: 'Segoe UI', sans-serif;
}

h2, h3 {
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 700px;
    margin: 60px auto;
    background: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

input, select, textarea {
    background: #2a2a2a !important;
    color: #fff !important;
    border: none !important;
}


input:focus, select:focus, textarea:focus {
    outline: none !important;
    box-shadow: 0 0 5px #00bfff !important;
}

button {
    background-color: #00bfff;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

placeholder {
    color: #fff;
}

button:hover {
    background-color: #008fcc;
}

a {
    color: #00bfff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    background-color: #00bfff;
    color: #000;
}

.table td, .table th {
    vertical-align: middle !important;
}

.alert {
    border-radius: 10px;
}
